openapi: 3.0.1
info:
  title: STD21014
  description: 'Hello World!'
  version: 1.0.0
servers:
- url: https://std21014.com
tags:
- name: Students
- name: Courses
paths:
  /students:
    get:
      tags:
      - Students
      summary: Get all students
      operationId: getAllStudents
      description: 'Get all students with details'
      parameters:
      - name: page
        in: query
        schema:
          type: integer
      - name: page_size
        in: query
        required: true
        schema:
          type: integer
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
      
    post:
      tags:
      - Students
      summary: Create new students
      operationId: createNew
      description: Create new students from an array
      requestBody:
        description: Students to be created
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/CreateStudent'
      responses:
        200:
          description: List of students
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Student'
        400:
          description: Bad request
      


components:
  schemas:
    Student:
      type: object
      properties:
        id:
          type: integer
          format: int64
        name:
          type: string
      
      
    CreateStudent:
      required:
      - name
      - photoUrls
      type: object
      properties:
        
        name:
          type: string
